@font-face {
	font-family: 'supermarketregular';
	src: url('../fonts/supermarket-webfont.eot');
	src: url('../fonts/supermarket-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/supermarket-webfont.woff') format('woff'),
	url('../fonts/supermarket-webfont.ttf') format('truetype'),
	url('../fonts/supermarket-webfont.svg#supermarketregular') format('svg');
	font-weight: normal;
	font-style: normal;
}